body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid red;
    margin: auto;
    width: 200px;
}

button {
    background-color: red;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

h1 {
    color: red;
    text-align: center;
    margin-bottom: 40px;
}

.container {
    margin: 1px;
}